* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
}

.headerContainer {
  position: sticky;
  top: 0;
}

.headerRow1 {
  margin: 8px 5px;
  height: 62px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.companyLogo {
  max-width: 40px;
}
.companyLogo img {
  width: 100%;
}
.searchContainer {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: rgb(240, 240, 240);
  border-radius: 30px;
  padding: 0px 10px;
  border: 1px solid transparent;
  width: 100%;
  transition: 0.2s all;
  /* width: 70%; */
}
.searchContainer:hover {
  border: 1px solid silver;
}
.headerSearchIcon {
  fill: grey;
  font-size: 32px;
  margin-left: 5px;
}
.headerSearchIcon:hover {
  cursor: pointer;
  fill: black;
}

.searchTxt {
  border: none;
  font-size: 18px;
  margin: 0px 10px;
  background-color: inherit;
  padding: 5px;
  width: 100%;
}

.searchTxt:focus {
  border-style: none;
  outline: none;
}
.headerVisualSearchIcon {
  fill: gray;
  width: 30px;
}
.headerVisualSearchIcon:hover {
  fill: black;
  cursor: pointer;
}

.headerMenuContainer {
  display: flex;
  align-items: center;
}
.menuList {
  display: flex;
  align-items: center;
  height: 100%;
}
.menuItem {
  margin-left: 5px;
  cursor: pointer;
  padding: 10px 10px;
  color: gray;
  transition: 0.3s all ease-in-out;
  font-size: 20px;
}
.menuItem:hover {
  color: black;
}

.unSplashPlus {
  color: rgb(8, 213, 189);
  transition: all 4s;
}

.unSplashPlus:hover {
  animation: unsplashAnimate 2s infinite alternate-reverse;
  cursor: pointer;
}
@keyframes unsplashAnimate {
  from {
    color: rgb(8, 213, 189);
  }
  to {
    color: rgb(153, 0, 127);
  }
}
.submitPhotoBtn {
  margin: 0px 5px;
  border: 1px solid silver;
  background-color: transparent;
  padding: 10px;
  font-size: 16px;
  color: grey;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  min-width: 140px;
  border-radius: 5px;
}
.submitPhotoBtn:hover {
  color: black;
  border: 1px solid black;
}
.notifyIcon {
  margin: 0px 10px;
  font-size: 30px;
  fill: grey;
}
.userCircle {
  margin: 0px 10px;
  font-size: 40px;
  fill: silver;
}
.hamMenu {
  margin-left: 15px;
}

.headerRow2 {
  display: flex;
  /* height: 60px; */
  align-items: center;
  position: relative;
}
.mainLinks {
  display: flex;
  align-items: center;
}
.hDivider {
  height: 30px;
  width: 2px;
  background-color: silver;
  margin: 0px 10px;
}
.arrowLeft,
.arrowRight {
  font-size: 28px;
  fill: gray;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.arrowLeft:hover,
.arrowRight:hover {
  fill: black;
  transform: scale(1.1);
}

.imageCategoryList {
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
  align-items: center;
  transition: 1s all ease-in-out;
  scroll-behavior: smooth;
}
.imageCategoryList::-webkit-scrollbar {
  display: none;
  background: transparent;
  width: 0;
  height: 0;
}

.imageCategory {
  white-space: nowrap;
  padding: 20px 0px;
  margin: 0px 15px;
  cursor: pointer;
  color: gray;
  font-size: 19px;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.imageCategory:hover {
  color: black;
}
.imageCategory:active,
.imageCategory:focus {
  color: black;
  border-bottom: 2px solid black;
}

.shadowLeft {
  background: linear-gradient(90deg, white, transparent);
  position: absolute;
  width: 60px;
  height: 30px;
  left: 245px;
}
.shadowRight {
  background: linear-gradient(90deg, transparent, white);
  position: absolute;
  width: 60px;
  height: 30px;
  right: 12px;
}
